html{
		font-family: "Times New Roman",Times,serif;
		font-size: 16px;
		line-height: 1.4;
	}

	body {

		background-image: url("assets/nappe.jpg");
		background-repeat: repeat;
		padding: 20px;
	}

	main{
		border: 1px solid grey;
		background-color: #fff;
		width: 800px;
		padding: 20px;
		margin: auto;
	}
	h1,h2,h3{
		font-family: Helvetica, Arial, sans-serif;
		line-height: 1.15;
	}
	h1{
		border:1px solid #ff827c;
		padding: 20px;
		margin-top: 0px;
		text-align: center;
	}
	h2{
		border-bottom: 1px solid #ff827c;
		padding-bottom: 10px;
		margin-top: 40px;
	}

	img{
		float: right;
		width: 40%;
		margin: 0% 5%;
	}
	img+h2{
		width: 50%;
	}
	div{
		columns: 2;
		margin-bottom: 40px;
	}
	ol{
		page-break-inside: avoid;
	}
	h3:first-child{
		margin-top: 0px;
	}
	table{
		width: 100%;
		margin: 40px;
	}
	td{
		font-family: Helvetica, Arial, sans-serif;
		color: #ff423c;
		font-weight: bold;
		font-size: 30px;
		text-align: center;
	}
	input{
		width: 3em;
		text-align: right;
	}